export(Bootstrap)
export(anneal)
export(around)
export(cvscore)
export(d1f)
export(df)
export(em.mixnorm)
export(f.models)
export(gold.sect)
export(grid.sect)
export(jackknife)
export(log.lik)
export(maxbound)
export(mc)
export(mixlike)
export(mixnorm)
export(nearest)
export(nearest.loc)
export(newton.raph)
export(plot.mc)
export(pois.int)
export(pois.proc)
export(pois.rate)
export(polar.norm)
export(rand.exp)
export(rand.mvnorm)
export(rand.norm)
export(rand.unif)
export(rand.weib)
export(tpower)
export(twodranduphill)
export(update.CompPack)
export(uphill.mixnorm)
export(wich.hill)
